body { font-family: "Trebuchet MS"; margin: 0px; overflow: clip; }
.divTitle   { position: absolute;  background-color: darkgreen; width: 54%; height: 100%; top: 0px; left: 2.60%;
              padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
              border: 2px solid #000000; user-select: none; -webkit-user-select: none;
              -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
              flex-wrap: nowrap; overflow: scroll; }

.divTitle2   { position: absolute;  background-color: darkgreen; width: 300px; height: 300px; bottom: 0px; left: 57.00%;
    padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
    border: 2px solid #000000; user-select: none; -webkit-user-select: none;
    -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
    flex-wrap: nowrap; overflow: clip; }

.divTitle3   { position: absolute;  background-color: darkgreen; width: 25%; height: 60%; top: 0px; left: 57.00%;
    padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
    border: 2px solid #000000; user-select: none; -webkit-user-select: none;
    -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
    flex-wrap: nowrap; overflow: scroll; }

.divTitle4   { position: absolute;  background-color: darkgreen; width: 300px; height: 50%; top: 0px; right: 0px;
    padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
    border: 2px solid #000000; user-select: none; -webkit-user-select: none;
    -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
    flex-wrap: nowrap; overflow: clip; }

.divTitle5   { position: absolute;  background-color: darkgreen; width: 300px; height: 49%; bottom: 0px; right: 0px;
    padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
    border: 2px solid #000000; user-select: none; -webkit-user-select: none;
    -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
    flex-wrap: nowrap; overflow: clip; }

.divTitle6   { position: absolute;  background-color: darkgreen; width: 50%; height: 49%; top: 200px; left: 57%;
    padding: 0px; margin: 0px; color: #ffffff; font-weight: bold;
    border: 2px solid #000000; user-select: none; -webkit-user-select: none;
    -ms-user-select: none; display: flex; flex-direction: column; justify-content: flex-start;
    flex-wrap: nowrap; overflow: clip; }

.divSide1 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 0px; left: 0px;
        border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
        cursor: pointer; }

.divSide2 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 23%; left: 0px;
    border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
    cursor: pointer; }

.divSide3 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 46%; left: 0px;
    border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
    cursor: pointer; }

.divSide4 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 69%; left: 0px;
    border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
    cursor: pointer; }

.divSide5 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 92%; left: 0px;
    border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
    cursor: pointer; }

.divSide6 {position: relative; background-color: darkgreen; width: 2.3%; height: 20%; top: 115%; left: 0px;
    border: solid black 2px; visibility: hidden; font-weight: bold; color: #ffffff; text-align: center;
    cursor: pointer; }

.divSide7 { }

.divTitleBreakDown { display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; }

.divInnerBottomFlex { background-color: #ffffff; height: 100%; color: #000000; padding: 3px; display: flex;
    flex-direction: row; justify-content: flex-start; }

.divInnerBottomFlexCol { background-color: #ffffff; width: 100%; height: 100%; color: #000000; padding: 3px; display: flex;
    flex-direction: column; justify-content: flex-start; align-content: flex-start; }

.divInnerBottomFlexColChild { width: 100%; height: 100%; text-align: center; }

.divInnerBottomFlexColChildFile { background-color: #ffffff; width: 100%; height: 100%; color: #000000; padding: 3px; display: flex;
    flex-direction: column; justify-content: center; align-items: center; }

.divInnerBottomFlexGrid { background-color: #ffffff; width: 100%; height: 100%; color: #000000; padding: 3px;
    display: flex; flex-direction: row; justify-content: flex-start; }

.divInnerBottomFlex4 { background-color: #ffffff; width: 100%; height: 100%; color: #000000; padding: 3px;
    display: flex; flex-direction: row;}

.divInnerBottomFlex41 { display: flex; flex-direction: column; align-content: center; text-align: center; }

.seven { width: 7%; cursor: pointer; }
.ten { width: 10%; cursor: pointer; }
.eightyThree { width: 83%;  text-align: center; cursor: grab; }

#gridSizeRangeText { width: 150px; font-weight: bold; }
#cellSizeRangeText { width: 150px; font-weight: bold; }

#gridOutput { font-family: "Courier New"; }

#colorChoose { width: 30%; text-align: center; }

#saveButton { padding: 3px; width: fit-content; }

#fileSavingOpenButton { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#fileSavingSaveButton { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#newCharMap { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#openCharMap { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#saveCharMap { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#newLevel { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#openLevel { border: solid 2px black; margin-bottom: 3px; width: fit-content; }
#saveLevel { border: solid 2px black; width: fit-content; }